body{

	margin: 0em;
	padding: 0em;
	background-color: #FFECDE;
}
header{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
p{

	font-family: 'Roboto', sans-serif;
}
footer{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	line-height: 1.8em;
	font-family: 'Roboto', sans-serif;
	background-color: #2D2D2D;
	padding: 2% 0% 5% 0%;
}
/*------------------------------ header ---------------------------------------*/
.return{

	font-size: 1.5em;
	color: black;
	position: absolute;
	top: 0.9em; left: 7%;

}
.div_logo{

	width: 100%;
	text-align: center;
	background-color: white;
	padding: 2% 0%;
}
.logo{

	width: 10em;
	height: 2em;
	margin: 2% 0%;
}
.cover{

	width: 100%;
	position: relative;
	object-fit: cover;	
	margin: 0% 0% -11% 0%;
}
/*------------------------------ section --------------------------------------*/
section{

	background-color: #FFECDE;
	border-radius: 2em 2em;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;	
	margin: 4% 0%;
}
section div.top {

	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
section h1{

	width: 80%;
	font-family: 'Shrikhand', cursive;
	font-size: 2em;
}
section .fav_icon{

	font-size: 1.5em;
	color: black;
	margin-right: 8%;
}
/*--------------------------------------------------*/
section h2{

	width: 90%;
	height: 2em;
	font-size: 1.3em;
	font-family: 'Roboto', sans-serif;
}
span{

	width: 3.3em;
    border-bottom: 0.3em #99E2D0 solid;
    position: absolute;
    top: 60%;
    left: 5.2%;
}
/*--------------------------------------------------*/
section div.plats{

	width: 85%;
	border-radius: 1em;	
    box-shadow: 0em 0.2em 0.2em grey;
	display: flex;
	justify-content: space-between;
	background-color: white;
	padding: 3%;
}
section .text{

	width: 80%;
	font-size: 1.1em;
	margin: 0% 2%;
}
section strong{

	font-size: 1.1em;
}
section .price{

	margin: 0% 3% 0% 0%;
	align-self: flex-end;
}

button{

	width: 50%;
    height: 3em;
    background-image: linear-gradient(170deg,#FF79DA, #9356DC);
    color: white;
    font-size: 1.1em;
    border: 0px;
    font-family: 'Roboto', sans-serif;
    border-radius: 2em;
    box-shadow: 0em 0.2em 0.2em grey;
    margin: 4% 0%;
}

/*------------------------------ footer ---------------------------------------*/

footer ul {

	width: 90%;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
footer li.text {

	font-family: 'Shrikhand', cursive;
	font-size: 1.2em;
	margin: 5% 0%;
}
footer li, .footer{

	text-decoration: none;
	color: white;
}
footer i{

	font-size: 1em;
	margin: 0% 3% 0% 0%;
}